<ul ngbNav #nav="ngbNav" class="nav-pills header-nav">
    <li ngbNavItem routerLink="main">
        <button ngbNavLink routerLink="home"><i class="las la-home home-icon"></i></button>
    </li>
    <li ngbNavItem>
        <button ngbNavLink routerLink="pie">Pie</button>
    </li>
    <li ngbNavItem>
        <button ngbNavLink routerLink="bar">Bar</button>
    </li>
    <li ngbNavItem>
        <button ngbNavLink routerLink="line">Line</button>
    </li>
    <li>
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="languages" ngbDropdownToggle>
                        <i class="las la-globe globe-icon"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="languages">
                        <button ngbDropdownItem>🇪🇸 Español</button>
                        <button ngbDropdownItem>🇫🇷 Français</button>
                        <button ngbDropdownItem>🇬🇧 English</button>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div>