.header-nav {
    margin-top: 5vh;
    margin-bottom: 1em;
    display: flex;
    gap: 3em;
    justify-content: center;

    .home-icon,
    .globe-icon,
    .pie-icon {
        font-size: larger;
    }

    .chart-menu-options {
        display: flex;
        gap: 0.25em;
    }

    .chart-menu-options-dropdown {
        display: none;
    }

    @media screen and (max-width: 600px) {
        .chart-menu-options {
            display: none;
        }

        .chart-menu-options-dropdown {
            display: unset;
        }

    }

}