/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    display: flex;
    justify-content: center;

    .chart-component-container {
        padding: 1em;
        width: min(1000px, 95%);
    }

}